*.pyc
AboutDL/语音识别/data/han_vocab_A.npy
AboutDL/语音识别/data/pny_vocab_A.npy
AboutDL/语音识别/logs_lm/tensorboard/events.out.*
AboutDL/语音识别/logs_am/tbLog/events.out.*
AboutDL/语音识别/checkpoint/model_*
*DNN4yzsb.h5
AboutDL/语音识别/logs_lm/model_*.data-00000-of-00001
AboutDL/语音识别/logs_lm/model_*.index
AboutDL/语音识别/logs_lm/model_*.meta
AboutDL/语音识别TF2.0*
